@model DopaMarket.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@functions {
    public static string SearchUrlChangePage(DopaMarket.ViewModels.SearchViewModel model, int page)
    {
        return SearchUrl(model.Query, model.Category, generatePriceFiltersData(model), model.PriceRangeStart, model.PriceRangeEnd, "", "", page);
    }

    public static string SearchUrlPriceFilter(DopaMarket.ViewModels.SearchViewModel model, string filter)
    {
        var priceFilter = generatePriceFiltersData(model);
        if(priceFilter == string.Empty)
        {
            priceFilter = filter;
        }
        else if(priceFilter.Contains(filter))
        {
             priceFilter = priceFilter.Replace("_" + filter, "");
             priceFilter = priceFilter.Replace(filter + "_", "");
             priceFilter = priceFilter.Replace(filter, "");
        }
        else
        {
            priceFilter += "_" + filter;
        }
        return SearchUrl(model.Query, model.Category, priceFilter, model.PriceRangeStart, model.PriceRangeEnd, "", "", 0);
    }

    public static string generatePriceFiltersData(DopaMarket.ViewModels.SearchViewModel model)
    {
        return string.Join("_",(model.PriceFilters.Where(pf => pf.Selected).Select(pf => pf.PriceStart + "-" + pf.PriceEnd)));
    }

    public static string SearchUrl(string query, string category, string priceFilters, decimal? minPrice, decimal? maxPrice, string brands, string order, int page)
    {
        string result = "/Search?";
        result += (query != "" && query != null) ? "q=" + query + "&" : "";
        result += (category != "" && category != null) ? "c=" + category + "&": "";
        result += (priceFilters != "" && priceFilters != null) ? "pf=" + priceFilters + "&" : "";
        result += (minPrice != null) ? "minp=" + minPrice + "&" : "";
        result += (maxPrice != null) ? "maxp=" + maxPrice + "&" : "";
        result += (brands != "" && brands != null) ? "b=" + brands + "&" : "";
        result += (order != "" && order != null) ? "order=" + order + "&" : "";
        result += (page != 0) ? "page=" + page + "&" : "";
        result = result.Last() == '&' ? result.Substring(0, result.Length - 1) : result;
        return result;
    }
}

<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>
                @if (Model.TotalCount == 0)
                {
                    @Html.Raw("Aucun produit");
                }

                @if (Model.TotalCount == 1)
                {
                    @Html.Raw("1 produit");
                }
                else
                {
                    @Html.Raw(@Model.TotalCount + " produits");
                }

                @if (Model.Query != "")
                {
                    @Html.Raw("pour la recherche \"" + Model.Query + "\"");
                }
                @if (Model.Category != "")
                {
                    @Html.Raw("dans la categorie " + Model.Category);
                }
            </h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Recherche</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-1">
    <div class="row">
        <!-- Products-->
        <div class="col-lg-9 order-lg-2">
            <!-- Shop Toolbar-->
            <div class="shop-toolbar padding-bottom-1x mb-2">
                <div class="column">
                    <div class="shop-sorting">
                        <label for="sorting">Sort by:</label>
                        <select class="form-control" id="sorting">
                            <option>Popularity</option>
                            <option>Low - High Price</option>
                            <option>High - Low Price</option>
                            <option>Average Rating</option>
                            <option>A - Z Order</option>
                            <option>Z - A Order</option>
                        </select><span class="text-muted">Showing:&nbsp;</span><span>1 - 12 items</span>
                    </div>
                </div>
                <div class="column">
                    <div class="shop-view"><a class="grid-view active" href="shop-grid-ls.html"><span></span><span></span><span></span></a><a class="list-view" href="shop-list-ls.html"><span></span><span></span><span></span></a></div>
                </div>
            </div>
            <!-- Products Grid-->
            <div class="row">
                @foreach (var item in Model.Items)
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="product-card mb-30">
                            <div class="product-badge bg-danger">Sale</div><a class="product-thumb" href="shop-single.html"><img src="http://placehold.it/400x400" alt="Product"></a>
                            <div class="product-card-body">
                                <div class="product-category"><a href="#">Smart home</a></div>
                                <h3 class="product-title"><a href="/Item/@item.Item.LinkName">@item.Item.Name</a></h3>
                                <h4 class="product-price">
                                    @item.Item.CurrentPrice
                                </h4>
                            </div>
                            @*
                                <div class="product-button-group"><a class="product-button btn-wishlist" href="#"><i class="icon-heart"></i><span>Wishlist</span></a><a class="product-button btn-compare" href="#"><i class="icon-repeat"></i><span>Compare</span></a><a class="product-button" href="#" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-check-circle" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="icon-shopping-cart"></i><span>To Cart</span></a></div>
                            *@
                        </div>
                    </div>
                }
            </div>
            <!-- Pagination-->
            <nav class="pagination">
                <div class="column">
                    <ul class="pages">
                        @for (var i = 0; i < Model.PageCount; i++)
                        {
                            if (i != Model.PageNumber)
                            {
                                <li><a href="@SearchUrlChangePage(Model, i)">@((i + 1).ToString())</a></li>
                            }
                            else
                            {
                                <li class="active"><a href="#">@((i + 1).ToString())</a></li>
                            }
                        }
                    </ul>
                </div>
                @if (Model.PageNumber < Model.PageCount - 1)
                {
                    <div class="column text-right hidden-xs-down"><a class="btn btn-outline-secondary btn-sm" href="@SearchUrlChangePage(Model, Model.PageNumber + 1)">Next&nbsp;<i class="icon-chevron-right"></i></a></div>
                }
            </nav>
        </div>
        <!-- Sidebar-->
        <div class="col-lg-3 order-lg-1">
            <div class="sidebar-toggle position-left"><i class="icon-filter"></i></div>
            <aside class="sidebar sidebar-offcanvas position-left">
                <span class="sidebar-close"><i class="icon-x"></i></span>
                <!-- Widget Categories-->
                <section class="widget widget-categories">
                    <h3 class="widget-title">Shop Categories</h3>
                    <ul>
                        @foreach (var category in Model.Categories)
                        {
                            <li class="has-children expanded">
                                <a href="/search?c=@category.Category.LinkName">@category.Category.Name</a><span>(1138)</span>
                                @if (category.Children != null && category.Children.Count() > 0)
                                {
                                    <ul>
                                        @foreach (var child in category.Children)
                                        {
                                            <li><a href="/search?c=@child.Category.LinkName">@child.Category.Name</a></li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                </section>
                <!-- Widget Price Range-->
                <section class="widget widget-categories">
                    <h3 class="widget-title">Price Range</h3>
                    <form class="price-range-slider" method="post" data-start-min="@Model.PriceRangeStart" data-start-max="@Model.PriceRangeEnd" data-min="@Model.PriceRangeMin" data-max="@Model.PriceRangeMax" data-step="1">
                        <div class="ui-range-slider"></div>
                        <footer class="ui-range-slider-footer">
                            <div class="column">
                                <button class="btn btn-outline-primary btn-sm" type="submit">Filter</button>
                            </div>
                            <div class="column">
                                <div class="ui-range-values">
                                    <div class="ui-range-value-min">
                                        $<span></span>
                                        <input type="hidden">
                                    </div>&nbsp;-&nbsp;
                                    <div class="ui-range-value-max">
                                        $<span></span>
                                        <input type="hidden">
                                    </div>
                                </div>
                            </div>
                        </footer>
                    </form>
                </section>

                @if (Model.PriceFilters != null)
                {
                    <!-- Widget Size Filter-->
                    <section class="widget">
                        <h3 class="widget-title">Filter by Price</h3>
                        @foreach (var priceFilter in Model.PriceFilters)
                        {
                            <div class="custom-control custom-checkbox" onClick="window.location.href='@SearchUrlPriceFilter(Model, priceFilter.PriceStart + "-" + priceFilter.PriceEnd)';">
                                <input class="custom-control-input" type="checkbox" id="@(priceFilter.PriceStart)_@(priceFilter.PriceEnd)" @( priceFilter.Selected ? "checked" : "" )>
                                <label class="custom-control-label" for="low">@priceFilter.PriceStart€ - @priceFilter.PriceEnd€&nbsp;<span class="text-muted">(@priceFilter.Count)</span></label>
                            </div>
                        }
                    </section>
                }

                @if (Model.Brands != null)
                {
                    <!-- Widget Brand Filter-->
                    <section class="widget">
                        <h3 class="widget-title">Filter by Brand</h3>
                        @foreach (var brand in Model.Brands)
                        {
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="@brand.LinkName">
                                <label class="custom-control-label" for="apple">@brand.Name&nbsp;<span class="text-muted">(1)</span></label>
                            </div>
                        }
                    </section>
                }
            </aside>
        </div>
    </div>
</div>

<script>

</script>