@model DopaMarket.ViewModels.ItemDetailModel

@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Page Content-->
<div class="container padding-bottom-3x">
    <div class="row">
        <!-- Poduct Gallery-->
        <div class="col-md-6">
            <div class="product-gallery">
                <div class="product-carousel owl-carousel gallery-wrapper">
                    @for (int i = 0; i < Model.Item.ImageCount; i++)
                    {
                        <div class="gallery-item" data-hash="@i"><a href="/img/items/@(Model.Item.LinkName + "_" + i.ToString()).jpg" data-size="1000x667"><img src="/img/items/@(Model.Item.LinkName + "_" + i.ToString()).jpg" alt="Product"></a></div>
                    }
                </div>
                <ul class="product-thumbnails">
                    @for (int i = 0; i < Model.Item.ImageCount; i++)
                    {
                        <li class="active"><a href="#@i"><img src="/img/items/@(Model.Item.LinkName + "_" + i.ToString()).jpg" alt="Product"></a></li>
                    }
                </ul>
            </div>
        </div>
        <!-- Product Info-->
        <div class="col-md-6">
            <div class="padding-top-2x mt-2 hidden-md-up"></div>
            <div class="sp-categories pb-3"><i class="icon-tag"></i><a href="#">Drones,</a><a href="#">Action cameras</a></div>
            <h2 class="mb-3">@Model.Item.Name</h2><span class="h3 d-block">
                @Model.Item.CurrentPrice€
            </span>
            <p class="text-muted">@Model.Item.TinyDescriptive <a href='#details' class='scroll-to'>More info</a></p>
            <div class="row align-items-end pb-4">
                <div class="col-sm-4">
                    <div class="form-group mb-0">
                        <label for="quantity">Quantity</label>
                        <select class="form-control" id="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="pt-4 hidden-sm-up"></div>
                    <button class="btn btn-primary btn-block m-0" onClick="addToCart(this)" data-item-id='@Model.Item.Id'><i class="icon-bag"></i> Add to Cart</button>
                </div>
            </div>
            <div class="pt-1 mb-4"><span class="text-medium">SKU:</span> #@Model.Item.SKU</div>
            <hr class="mb-2">
            <div class="d-flex flex-wrap justify-content-between">
                <div class="mt-2 mb-2">
                    <button class="btn btn-outline-secondary btn-sm btn-wishlist"><i class="icon-heart"></i>&nbsp;To Wishlist</button>
                    <button class="btn btn-outline-secondary btn-sm btn-compare" onClick="addToCompare(this)" data-item-id='@Model.Item.Id'><i class="icon-repeat"></i>&nbsp;Compare</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Details-->
<div class="bg-secondary padding-top-3x padding-bottom-2x mb-3" id="details">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="h4">Details</h3>
                <p class="mb-4">@Model.Item.Descriptive</p>
                <h3 class="h4">Features</h3>
                <ul class="list-icon mb-4">
                    @foreach (var feature in Model.Features)
                    {
                        <li><i class="icon-check text-success"></i>@feature.Text</li>
                    }
                </ul>
            </div>
            <div class="col-md-6">
                @if (Model.ItemSpecifications.Count() < 10)
                {
                    <h3 class="h4">Specifications</h3>
                    <ul class="list-unstyled mb-4">
                        @foreach (var itemSpecification in Model.ItemSpecifications)
                        {
                            <li><strong>@itemSpecification.Name:</strong> @itemSpecification.Value @itemSpecification.Unity</li>
                        }
                    </ul>
                }
                <h3 class="h4">Shipping Options:</h3>
                <ul class="list-unstyled mb-4">
                    <li><strong>Courier:</strong> 2 - 4 days, $22.50</li>
                    <li><strong>Local Shipping:</strong> up to one week, $10.00</li>
                    <li><strong>UPS Ground Shipping:</strong> 4 - 6 days, $18.00</li>
                    <li><strong>Unishop Global Export:</strong> 3 - 4 days, $25.00</li>
                </ul>
            </div>
        </div>


        @if (Model.ItemSpecifications.Count() >= 10)
        {
            <div class="row">
                <h3 class="h4">Specifications</h3>
                <table class="table table-bordered specification-table">
                    @{
                        foreach (var itemSpecificationGroup in Model.ItemSpecificationGroups)
                        {
                            <tr><td colspan="2"><strong>@itemSpecificationGroup.Group.LongName</strong></td></tr>
                            foreach (var itemSpecification in itemSpecificationGroup.ItemSpecifications)
                            {
                                <tr style="background-color:white"><td>@itemSpecification.Name:</td> <td>@itemSpecification.Value @itemSpecification.Unity</td></tr>
                            }
                        }
                    }
                </table>
            </div>
        }
    </div>
</div>

    <!-- Reviews-->
    <div class="container padding-top-2x">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card border-default">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="d-inline align-baseline display-3 mr-1">@Model.Item.AverageRating</div>
                            <div class="d-inline align-baseline text-sm text-warning mr-1">
                                <div class="rating-stars">
                                    @for (int i = 0; i < Model.Item.AverageRating; i++)
                                    {
                                        <i class="icon-star filled"></i>
                                    }
                                    @for (int i = (int)Model.Item.AverageRating; i < 5; i++)
                                    {
                                        <i class="icon-star"></i>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="pt-3">
                            @foreach (var starInfo in Model.Stars.Reverse())
                            {
                                if (@starInfo.Value > 1)
                                {
                                    <label class="text-medium text-sm">@starInfo.Value stars <span class='text-muted'>- @starInfo.Count</span></label>
                                }
                                else if (@starInfo.Value == 1)
                                {
                                    <label class="text-medium text-sm">1 star <span class='text-muted'>- @starInfo.Count</span></label>
                                }
                                else
                                {
                                    <label class="text-medium text-sm">0 star <span class='text-muted'></span></label>
                                }
                                <div class="progress margin-bottom-1x">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: @((starInfo.Ratio * 100).ToString().Replace(",","."))%; height: 2px;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            }
                        </div>
                        <div class="pt-2"><a class="btn btn-warning btn-block" href="#" data-toggle="modal" data-target="#leaveReview">Leave a Review</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h3 class="padding-bottom-1x">Latest Reviews</h3>
                @foreach (var review in Model.Reviews)
                {
                    <!-- Review-->
                    <div class="comment">
                        <div class="comment-author-ava"><img src="/img/users/@(review.Customer.ApplicationUser.Email.Replace("@", "_").Replace(".", "_")).jpg" alt="Comment author"></div>
                        <div class="comment-body">
                            <div class="comment-header d-flex flex-wrap justify-content-between">
                                <h4 class="comment-title">@review.Title</h4>
                                <div class="mb-2">
                                    <div class="rating-stars">
                                        @for (int i = 0; i < review.Note; i++)
                                        {
                                            <i class="icon-star filled"></i>
                                        }

                                        @for (int i = review.Note; i < 5; i++)
                                        {
                                            <i class="icon-star"></i>
                                        }
                                    </div>
                                </div>
                            </div>
                            <p class="comment-text" style="white-space: pre-line">@review.Text</p>
                            <div class="comment-footer"><span class="comment-meta">@review.Customer.FirstName @review.Customer.LastName</span></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container padding-bottom-3x mb-1">
        <!-- Related Products Carousel-->
        <h3 class="text-center padding-top-2x mt-2 padding-bottom-1x">You May Also Like</h3>
        <!-- Carousel-->
        <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;margin&quot;: 30, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;576&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}} }">
            @foreach (var item in Model.OtherItems)
            {
                <!-- Product-->
                <div class="product-card">
                    <a class="product-thumb" href="/Item/@item.LinkName"><img src="/img/items/@(item.LinkName)_0.jpg" alt="Product"></a>
                    <div class="product-card-body">
                        <div class="product-category"><a href="#">Smart home</a></div>
                        <h3 class="product-title"><a href="/Item/@item.LinkName">@item.Name</a></h3>
                        <h4 class="product-price">
                            @item.CurrentPrice€
                        </h4>
                    </div>
                    <div class="product-button-group"><a class="product-button btn-wishlist" href="#"><i class="icon-heart"></i><span>Wishlist</span></a><a class="product-button btn-compare" href="#"><i class="icon-repeat"></i><span>Compare</span></a><a class="product-button" href="#" data-toast data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-check-circle" data-toast-title="Product" data-toast-message="successfuly added to cart!"><i class="icon-shopping-cart"></i><span>To Cart</span></a></div>
                </div>
            }
        </div>
    </div>

    @section scripts
    {
        <script>
            function addToCart(button) {
                let itemId = button.getAttribute('data-item-id');
                let count = $("#quantity").val();

                $.ajax({
                    url: "/Cart/AddItem/" + itemId + "?count=" + count,
                }).done(function (response) {
                    if (response.result === "added") {
                        iziToast.show({
                            title: 'OK',
                            message: 'Successfully inserted record!',
                            position: 'topRight'
                        });
                        GetItemsInCart();
                    }
                });
            }

            function addToCompare(button) {
                let itemId = button.getAttribute('data-item-id');

                $.ajax({
                    url: "/Compare/AddItem/" + itemId,
                }).done(function (response) {
                    if (response.result === "added") {
                        iziToast.show({
                            title: 'OK',
                            message: 'Successfully inserted record!',
                            position: 'topRight'
                        });
                        GetItemsInCart();
                    }
                });
            }
        </script>

    }

    <!-- Leave a Review-->
    <form class="modal fade" method="post" id="leaveReview" tabindex="-1" action="/ItemAction/PushReview">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Leave a Review</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-subject">Subject</label>
                                <input class="form-control" type="text" id="review-subject" required="" name="title">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-rating">Rating</label>
                                <select class="form-control" id="review-rating" name="rating">
                                    <option value="5">5 Stars</option>
                                    <option value="4">4 Stars</option>
                                    <option value="3">3 Stars</option>
                                    <option value="2">2 Stars</option>
                                    <option value="1">1 Star</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="review-message">Review</label>
                        <textarea class="form-control" id="review-message" name="text" rows="8" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Submit Review</button>
                </div>
            </div>
        </div>
        <input name="itemId" type="hidden" value="@Model.Item.Id">
    </form>