@model DopaMarket.ViewModels.ItemFormViewModel

@{
    ViewBag.Title = "ItemForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="@Url.Content("http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css")" rel="stylesheet" type="text/css" />



<script type="text/javascript" src="@Url.Content("http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js")"></script>


<h2>Category Form</h2>

@using (Html.BeginForm("Save", "Items", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Item.Name)
        @Html.TextBoxFor(m => m.Item.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Item.Name)
    </div>

    @*
        <div class="form-group">
            @Html.LabelFor(m => m.Movie.GenreId)
            @Html.DropDownListFor(m => m.Item.GenreId, new SelectList(Model.Genres, "Id", "Name"), "-- Select Genre --", new { @class = "form-control" })
        </div>
    *@

    <div class="form-group">
        @Html.LabelFor(m => m.Item.OnSale)
        @Html.CheckBoxFor(m => m.Item.OnSale)
        @Html.ValidationMessageFor(m => m.Item.OnSale)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Item.InsertDate)
        @Html.EditorFor(m => m.Item.InsertDate)
        @Html.ValidationMessageFor(m => m.Item.InsertDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Item.CurrentPrice)
        @Html.EditorFor(m => m.Item.CurrentPrice)
        @Html.ValidationMessageFor(m => m.Item.CurrentPrice)
    </div>

    @Html.ListBoxFor(x => x.SelectedCategoryIds, Model.Categories, new { @class = "categories-selector" })

    <div class="form-group">
        @Html.EditorFor(m => m.Keywords)
    </div>

    <input type="file" name="UploadImage" multiple="multiple" />

    <button type="submit" class="btn btn-primary">Save</button>

    @Html.Hidden("Item.Id", Model.Item.Id);
}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" type="text/css">

@section scripts
{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('.categories-selector').multiselect({
                includeSelectAllOption: true,
                buttonWidth: 250,
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true
            });

        });

    </script>
}
