@model DopaMarket.ViewModels.ItemFormViewModel

@{
    ViewBag.Title = "ItemForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="@Url.Content("http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css")" rel="stylesheet" type="text/css" />



<script type="text/javascript" src="@Url.Content("http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js")"></script>


<h2>Category Form</h2>

@using (Html.BeginForm("Save", "Items", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Item.Name)
        @Html.TextBoxFor(m => m.Item.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Item.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(i => i.Item.LinkName)
        @Html.TextBoxFor(i => i.Item.LinkName, new { @class = "form-control" })
        @Html.ValidationMessageFor(i => i.Item.LinkName)
    </div>

    <div class="form-group">
        @Html.LabelFor(i => i.Item.OnSale)
        @Html.CheckBoxFor(i => i.Item.OnSale)
        @Html.ValidationMessageFor(i => i.Item.OnSale)
    </div>

    <div class="form-group">
        @Html.LabelFor(i => i.Item.InsertDate)
        @Html.EditorFor(i => i.Item.InsertDate)
        @Html.ValidationMessageFor(i => i.Item.InsertDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Item.CurrentPrice)
        @Html.EditorFor(m => m.Item.CurrentPrice)
        @Html.ValidationMessageFor(m => m.Item.CurrentPrice)
    </div>

    <div class="form-group">
        @Html.LabelFor(i => i.Keywords)
        @Html.ListBoxFor(i => i.SelectedCategoryIds, Model.Categories, new { @class = "categories-selector" })
    </div>

    <div class="form-group">
        @Html.LabelFor(i => i.Keywords)
        @Html.EditorFor(i => i.Keywords)
    </div>

    <div class="form-group">
        @Html.LabelFor(i => i.Images)
        @foreach (var image in Model.Images)
        {
            <span>
                <img src="@image.Path" style="object-fit: cover;width:200px;height:200px" />
                <button class="btn btn-default" onClick="removeImage(this)" data-image-id='@image.Id' type="button"></button>
            </span>
        }
    </div>

    <div class="form-group">
        <input type="file" name="UploadImages" multiple="multiple" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

    @Html.Hidden("Item.Id", Model.Item.Id);
 }



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" type="text/css">

@section scripts
{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('.categories-selector').multiselect({
                includeSelectAllOption: true,
                buttonWidth: 250,
                enableFiltering: true,
                enableCaseInsensitiveFiltering: true
            });
        });

        function removeImage(button) {
            let imageId = button.getAttribute('data-image-id');

            $.ajax({
                url: "/Items/RemoveImage/" + imageId,
            });

            var imageContainer = button.parentNode;
            imageContainer.parentNode.removeChild(imageContainer);
        }

    </script>
}
