
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Save", "Brands"))
{
    <div class="form-group">
        @Html.TextBox("Brand.Name")
    </div>
    <div class="form-group">
        @Html.TextBox("Brand.LinkName")
    </div>
    <button type="submit" class="btn btn-primary">Save</button>

    @Html.Hidden("Brand.Id", 0);
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    @foreach (var brand in Model)
    {
        <tr>
            <td>@Html.ActionLink((string)brand.Name, "Edit", "Categories", new { id = brand.Id }, null) - @Html.ActionLink("Delete", "Delete", "Brands", new { id = brand.Id }, null)</td>
        </tr>
    }
</table>

