@model DopaMarket.ViewModels.ClientFormViewModel

@{
    ViewBag.Title = "ClientForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ClientForm</h2>

<h2>Category Form</h2>

@using (Html.BeginForm("Save", "Client", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Client.Name)
        @Html.TextBoxFor(m => m.Client.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Client.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Client.Birthday)
        @Html.TextBoxFor(m => m.Client.Birthday, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Client.Birthday)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Client.PhoneNumber)
        @Html.TextBoxFor(m => m.Client.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Client.PhoneNumber)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Address.Street)
        @Html.TextBoxFor(m => m.Address.Street, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address.Street)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address.Street2)
        @Html.TextBoxFor(m => m.Address.Street2, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address.Street2)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address.City)
        @Html.TextBoxFor(m => m.Address.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address.City)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address.State)
        @Html.TextBoxFor(m => m.Address.State, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address.State)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address.PostalCode)
        @Html.TextBoxFor(m => m.Address.PostalCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address.PostalCode)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Address.Country)
        @Html.TextBoxFor(m => m.Address.Country, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address.Country)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

    @Html.Hidden("Address.Id", Model.Address.Id);
    @Html.Hidden("Client.Id", Model.Client.Id);
    @Html.Hidden("Client.IdentityUserId", Model.Client.IdentityUserId);
    
}