@model DopaMarket.ViewModels.CustomerAddressViewModel

@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Contact / Shipping Address</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>
                    <a href="account-orders.html">Account</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Contact Address</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-1">
    <div class="row">
        @{
            Html.RenderPartial("_UserInfoMenu");
        }

        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <h5>Contact Address</h5>
            <hr class="padding-bottom-1x">

            @using (Html.BeginForm("AddressSave", "Customer", FormMethod.Post, new { @class = "row", enctype = "multipart/form-data" }))
            {
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address.Street, "Address")
                        @Html.TextBoxFor(m => m.Address.Street, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Address.Street)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address.Street2, "Address 2")
                        @Html.TextBoxFor(m => m.Address.Street2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Address.Street2)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address.PostalCode, "Code postal")
                        @Html.TextBoxFor(m => m.Address.PostalCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Address.PostalCode)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address.City, "Ville")
                        @Html.TextBoxFor(m => m.Address.City, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Address.City)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address.Country, "Pays")
                        @Html.TextBoxFor(m => m.Address.Country, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Address.Country)
                    </div>
                </div>

                <div class="col-12 padding-top-1x">
                    <hr class="margin-top-1x margin-bottom-1x">
                    <div class="text-right">
                        <button class="btn btn-primary margin-bottom-none" type="button" data-toast data-toast-position="topRight" data-toast-type="success" data-toast-icon="icon-check-circle" data-toast-title="Success!" data-toast-message="Your address updated successfuly.">Update Address</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>