@model DopaMarket.ViewModels.CustomerProfileViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index Customer</h2>

<div>
    Prénom : @Model.Customer.FirstName
</div>
<div>
    Nom : @Model.Customer.LastName
</div>
<div>
    Phone Number : @Model.Customer.PhoneNumber
</div>
<hr />
<div>
    Adresse 1 : @Model.Address.Street
</div>
<div>
    Adresse 2 : @Model.Address.Street2
</div>
<div>
    Code Postal : @Model.Address.PostalCode
</div>
<div>
    Ville : @Model.Address.City
</div>
<div>
    Pays : @Model.Address.Country
</div>
<hr />
@Html.ActionLink("Edit", "Edit", "Customer")