@model DopaMarket.ViewModels.CostumerOrdersViewModel

@{
    ViewBag.Title = "Commandes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var statusText = new Dictionary<DopaMarket.Models.OrderStatus, string>()
    {
        {  DopaMarket.Models.OrderStatus.WaitProcess, "WaitProcess" },
        {  DopaMarket.Models.OrderStatus.Processing, "Processing" },
        {  DopaMarket.Models.OrderStatus.WaitQualityCheck, "WaitQualityCheck" },
        {  DopaMarket.Models.OrderStatus.QualityChecking, "QualityChecking" },
        {  DopaMarket.Models.OrderStatus.WaitDispatching, "WaitDispatching" },
        {  DopaMarket.Models.OrderStatus.Dispatched, "Dispatched" },
        {  DopaMarket.Models.OrderStatus.Canceled, "Canceled" },
        {  DopaMarket.Models.OrderStatus.Delayed, "Delayed" },
        {  DopaMarket.Models.OrderStatus.Delivered, "Delivered" }
    };

    var statusClass = new Dictionary<DopaMarket.Models.OrderStatus, string>()
    {
        {  DopaMarket.Models.OrderStatus.WaitProcess, "text-info" },
        {  DopaMarket.Models.OrderStatus.Processing, "text-info" },
        {  DopaMarket.Models.OrderStatus.WaitQualityCheck, "text-info" },
        {  DopaMarket.Models.OrderStatus.QualityChecking, "text-info" },
        {  DopaMarket.Models.OrderStatus.WaitDispatching, "text-info" },
        {  DopaMarket.Models.OrderStatus.Dispatched, "text-success" },
        {  DopaMarket.Models.OrderStatus.Canceled, "text-danger" },
        {  DopaMarket.Models.OrderStatus.Delayed, "text-warning" },
        {  DopaMarket.Models.OrderStatus.Delivered, "text-info" }
    };
}

<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>My Orders</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>
                    <a href="account-orders.html">Account</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>My Orders</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
    <div class="row">

        @{
            Html.RenderPartial("../Customer/_UserInfoMenu");
        }

        <div class="col-lg-8">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Date Purchased</th>
                            <th>Status</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.Orders)
                        {
                            <tr>
                                <td><a class="navi-link" href="#" data-toggle="modal" data-target="#orderDetails">@order.Key</a></td>
                                <td>@order.Date.ToString()</td>
                                <td><span class="@(statusClass[order.Status])">@(statusText[order.Status])</span></td>
                                <td><span>@order.TotalPrice</span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="text-right"><a class="btn btn-link-primary margin-bottom-none" href="#"><i class="icon-download"></i>&nbsp;Order Details</a></div>
        </div>
    </div>
</div>
