@model DopaMarket.ViewModels.CategoryFormViewModel

@{
    /**/

    ViewBag.Title = "CategoryForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Category Form</h2>

@foreach (var category in Model.Breadcrumb)
{
    <span>@Html.ActionLink((string)category.Name, "Edit", "Categories", new { id = category.Id }, null) ></span>
}

<hr />

@using (Html.BeginForm("Save", "Categories"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Category.Name)
        @Html.TextBoxFor(model => model.Category.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Category.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Category.LinkName)
        @Html.TextBoxFor(model => model.Category.LinkName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Category.LinkName)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

    @Html.Hidden("Category.Id", Model.Category.Id);
}

<hr />

@using (Html.BeginForm("Save", "Categories"))
{
    <div class="form-group">
        @Html.TextBox("Category.Name", "")
    </div>
    <div class="form-group">
        @Html.TextBox("Category.LinkName")
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

    @Html.Hidden("Category.Id", 0);
    @Html.Hidden("Category.ParentCategoryId", Model.Category.Id);
}