
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Save", "Categories"))
{
    <div class="form-group">
        @Html.TextBox("Category.Name")
    </div>
    <div class="form-group">
        @Html.TextBox("Category.LinkName")
    </div>
    <button type="submit" class="btn btn-primary">Save</button>

    @Html.Hidden("Category.Id", 0);
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    @foreach (var category in Model)
    {
        <tr>
            <td>@Html.ActionLink((string)category.Name, "Edit", "Categories", new { id = category.Id }, null) - @Html.ActionLink("Delete", "Delete", "Categories", new { id = category.Id }, null)</td>
        </tr>
    }
</table>
