@model DopaMarket.ViewModels.ItemInfoTypesFormViewModel

@{
    ViewBag.Title = "ItemInfoTypeForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ItemInfoTypeForm</h2>

@using (Html.BeginForm("Save", "ItemInfoTypes"))
{
<div class="form-group">
    <div class="form-group">
        @Html.LabelFor(model => model.ItemInfoType.Name)
        @Html.EditorFor(model => model.ItemInfoType.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ItemInfoType.Type)
        @Html.EnumDropDownListFor(model => model.ItemInfoType.Type, "Select")
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ItemInfoType.LongName)
        @Html.EditorFor(model => model.ItemInfoType.LongName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ItemInfoType.Unity)
        @Html.EditorFor(model => model.ItemInfoType.Unity)
    </div>
</div>

    <button type="submit" class="btn btn-primary">Save</button>

    @Html.Hidden("ItemInfoType.Id", Model.ItemInfoType.Id);
}