@model DopaMarket.ViewModels.BasketViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


@foreach (var item in Model.Items)
{
<div>
    @Html.ActionLink((string)item.Item.Name, item.Item.LinkName, "Item") -
    <span class="item-quantity" data-item-id='@item.Item.Id'>@item.Quantity</span>
    <button class="btn btn-default btn-change-increment" onClick="changeCount(this)" data-item-id='@item.Item.Id' data-item-count='1' type="button">+</button>
    <button class="btn btn-default btn-change-decrement" onClick="changeCount(this)" data-item-id='@item.Item.Id' data-item-count='-1' type="button">-</button>
</div>
}

<script type="text/javascript">

    function changeCount(button) {
        let itemId = button.getAttribute('data-item-id');
        let count = parseInt($(".item-quantity[data-item-id='" + itemId + "']").text());
        let increment = parseInt(button.getAttribute('data-item-count'));
        $.ajax({
            url: "/Basket/ChangeCountItem/" + itemId + "?count=" + (count + increment),
        }).done(function (response) {
            if (response.result === "count_changed") {
                $(".item-quantity[data-item-id='" + itemId + "']").text(response.count);
                if (response.count == 1) {
                    $(".btn-change-decrement[data-item-id='" + itemId + "']").attr("disabled", true);
                } else {
                    $(".btn-change-decrement[data-item-id='" + itemId + "']").attr("disabled", false);
                }
            }
        });
    }

    window.onload = function () {
        if (response.count == 1) {
            $(".btn-change-decrement[data-item-id='" + itemId + "']").attr("disabled", true);
        } else {
            $(".btn-change-decrement[data-item-id='" + itemId + "']").attr("disabled", false);
        }
    };

</script>